header {
  background-color: #BBBBBB;
  padding: 20px 0;
}

.caja {
  margin: 0 auto;
  position: relative;
  width: 940px;
}

nav {
  position: absolute;
  right: 0;
  top: 110px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.productos {
  margin: 0 auto;
  padding: 50px;
  width: 940px;
}

.productos li {
  border: 2px solid #000000;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 1.5%;
  padding: 30px 20px;
  text-align: center;
  vertical-align: top;
  width: 30%;
}

.productos li:hover {
  border-color: #c78c19;
}

.productos li:active {
  border-color: #088c19;
}

.productos h2 {
  font-size: 30px;
  font-weight: bold;
}

.productos li:hover h2 {
  font-size: 33px;
}

.producto-descripcion {
  font-size: 18px;
}

.producto-precio {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  text-align: center;
  background: url("./imagenes/bg.jpg");
  padding: 40px
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px;
}

/* Contacto */

main {
  margin: auto;
  width: 940px;
}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-patron {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
  transition: 1s all;
  width: 40%;
}

.enviar:hover {
  background-color: darkorange;
  transform: scale(1.05);
}

table {
  margin: 40px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}