header {
  background-color: #BBBBBB;
  padding: 20px 0;
}

.caja {
  margin: 0 auto;
  position: relative;
  width: 940px;
}

nav {
  position: absolute;
  right: 0;
  top: 110px;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

.productos {
  margin: 0 auto;
  padding: 50px;
  width: 940px;
}

.productos li {
  border: 2px solid #000000;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 1.5%;
  padding: 30px 20px;
  text-align: center;
  vertical-align: top;
  width: 30%;
}

.productos li:hover {
  border-color: #c78c19;
}

.productos li:active {
  border-color: #088c19;
}

.productos h2 {
  font-size: 30px;
  font-weight: bold;
}

.productos li:hover h2 {
  font-size: 33px;
}

.producto-descripcion {
  font-size: 18px;
}

.producto-precio {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  text-align: center;
  background: url("./imagenes/bg.jpg");
  padding: 40px
}

.copyright {
  color: #FFFFFF;
  font-size: 13px;
  margin: 20px;
}

/* Contacto */

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-patron {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  background: orange;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
  transition: 1s all;
  width: 40%;
}

.enviar:hover {
  background-color: darkorange;
  transform: scale(1.05);
}

table {
  margin: 40px 40px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

.banner {
  width: 100%;
}

/* main>p {
  background: red;
} */

/* img+p {
  background: yellow;
} */

/* img~p {
  background: #088c19;
} */

/* .principal p:not(#mision) {
  background: orange;
} */

.principal {
  background: #FFFFFF;
  margin: 0 auto;
  padding: 3em 0;
  width: 940px;
}

.titulo-principal {
  clear: left;
  font-size: 2em;
  margin: 0 0 1em;
  text-align: center;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  padding: 3em 0;
  background: linear-gradient(#FFFFFF, #888888);
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.mapa-contenido {
  width: 940px;
  margin: 0 auto;
}

.diferenciales {
  padding: 3em 0;
  background: #888888;
}

.contenido-diferenciales {
  margin: 0 auto;
  width: 640px;
}

.lista-diferenciales {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.items {
  line-height: 1.5;
}

.items::before {
  content: "✔ ";
}

.items:first-child {
  font-weight: bold;
}

.imagenDiferencial {
  box-shadow: 10px 10px 30px 10px #000000;
  margin-bottom: 50px;
  width: 60%;
  /* Se puede poner numeros negativos para que la sombra sea hacia la izquierda */
  /* Para que la sombra sea interna se usa : inset 0 0 30px "con el punto de referencia que sea desde el centro del bloque y luego el spread" */
}

.imagenDiferencial:hover {
  opacity: 0.3;
  transition: 400ms;
}

.imagenDiferencial:not(:hover) {
  opacity: 1;
  transition: 400ms;
}

.video {
  margin: 1em auto;
  width: 560px;
}

@media screen and (max-width: 480px) {
  h1 {
    text-align: center;
  }

  nav {
    position: static;
  }

  .caja,
  .principal,
  .mapa-contenido,
  .contenido-diferenciales,
  .video {
    width: auto;
  }

  .lista-diferenciales, .imagenDiferencial {
    width: 100%;
    margin: 5px 0;
  }

  .imagenDiferencial {
    margin-bottom: 50px;
  }

  .video {
    background: #888888;
  }
}